// http://fourkitchens.com/blog/article/fix-scrolling-performance-css-will-change-property
@import '_generic.base';
@import '_generic.normalize';
@import 'lib/_compass-mixins';
@import 'lib/_animate';

.o-game {
  width: 800px;
  height: 600px;
  margin: 50px auto;
}

.o-render-area {
  width: 100%;
  height: 100%;
  position: relative;
}

.o-list-horitzontal {
  @include display-flex();
  height: 100%;
}

.c-tick {
  width: 25px;
  height: 100%;
  background: #606dbc;

  &.have-enemy {
    background: #465298;
  }
}

.c-dino {
  width: 100px;
  height: 200px;
  background: red;
  position: absolute;
  bottom: 0px;
  left: 50px;
  z-index: 100;
}

.c-background {
  position: absolute;
}

.u-mask {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
